<%- include("header"); -%>



<form action="/add_fac" method="POST">  
  
    <div class="row sb" style="background-color: aliceblue; text-align: center;">
      <div class=" " style="background-color: aliceblue;">
        <br>
        <h4> Add Faculty </h4>
      </div>
    </div>

    <div >

    
      <div class=" " style="background-color: aliceblue; ">
        <label for="name">Fac id</label>
        <input id="name" name="fac_id" type="text" class="validate" autocomplete="off" data-error="#e1"  >
        <div id="e1"></div>
      </div>

      <div class=" " style="background-color: aliceblue;" >
        <label for="name"> Password </label>
        <input id="name" name="password" type="text" class="validate" autocomplete="off" data-error="#e1"  >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Faculty Name</label>
        <input id="name" name="name" type="text" class="validate" autocomplete="off" data-error="#e1"  >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Gender</label>
        <input id="name" name="gender" type="text" class="validate" autocomplete="off" data-error="#e1" >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Department </label>
        <input id="name" name="department" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name">  Phone number</label>
        <input id="name" name="phone" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Email </label>
        <input id="name" name="email" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Date of Birth </label>
        <input id="name" name="dob" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Designation </label>
        <input id="name" name="designation" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Experience </label>
        <input id="name" name="experience" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Qualification </label>
        <input id="name" name="qualification" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Reporting to </label>
        <input id="name" name="reporting_to" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Area of specialization </label>
        <input id="name" name="area_of_specialization" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Salary </label>
        <input id="name" name="salary" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Address </label>
        <input id="name" name="address" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>
      <div class=" " style="background-color: aliceblue;">
        <label for="name"> Aicte_id </label>
        <input id="name" name="aicte_id" type="text" class="validate" autocomplete="off" data-error="#e1"   >
        <div id="e1"></div>
      </div>

    </div>
  

    </div>




    <br>
    <div class="row sb">
      <div class="col m6 s12">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>

  </form>


<%- include("footer"); -%>