
<%- include("header"); -%>


    <div class="home_page" style="background-image: url('/public/images/dsatm.jpg');">
            
        <div class="text-box">
            <h1>Faculty Performance Management System</h2>
            <br>
            <br>
            <br>
            <img src="..//public/images/dsatm_logo.png" alt="">

            <a href="admin" class="hero-btn">Admin</a>
            <a href="faculty" class="hero-btn">Faculty</a>

        </div>

    </div>
       

<%- include("footer"); -%>