
<%- include("header"); -%>

<hr class="white-hr">

<div class="container-fluid">
  
    <div class="row">
      
      <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 sidebar-left">
    
      <a class="active" href="research">Resource Mobilization for Research</a>
      <a class="active" href="innovation">Innovation Ecosystem</a>
      <a href="res_publication">Research Publication and Awards</a>
      <a href="feedback.html">Extension Activities </a>
      <a href="assign_mentors_1.html"> Collaboration</a>
      </div>

      <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10 container-z">

        <div style="margin-left: 915px; margin-top: 10px;">
          <a href="/logout"> <button type="submit" class="btn btn-info">LOGOUT</button> </a>
      </div>

  

    </div>
      </div>
    </div>
    <hr class="white-hr">

<%- include("footer"); -%>