<%- include("header"); -%>

<div>
  <p style="color: aliceblue;"> Funds Received &nbsp;&nbsp; : &nbsp;&nbsp; <%= sum1 %> </p>
</div>


<div class="list-group">
    <a href="/grants_cse" class="list-group-item list-group-item-action ">
      CSE
    </a>
    <a href="/grants_ise" class="list-group-item list-group-item-action ">
      ISE
    </a>
</div>





<%- include("footer"); -%>