<%- include("header"); -%>

<hr class="white-hr">
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 sidebar-left">
      
        <a href="NaacCriterion3"><i class="bi bi-arrow-left-circle"></i></a>

      <span style="color: aliceblue; font-weight: bold;" >  Resource Mobilization for Research</span>
      <br>
      <br>
      <a href="grants_received">  Grants Received </a>
      <a href="research_guides" style="background-color: #ffffff94; color: #000000;">  Research Guides </a>
      <a href="research_proj">  Research Projects </a>

      </div>

      <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10 container-z">
 
        <h1>Research Guides</h1>
     
           <div class="ctrlqFormContentWrapper">
             <div class="ctrlqHeaderMast"></div>
             <div class="ctrlqCenteredContent">
               <div class="ctrlqFormCard">
                 <div class="ctrlqAccent"></div>
                 <div class="ctrlqFormContent">
       
                   <form>  
       
                     <div class="row sb">
                       <div class=" col s12">
                         <h4>Number of teachers recognized as research guides (latest completed academic 
                          year)</h4>
                         <h7>(All fields are required.)</h7>
                       </div>
                     </div>
       

     
                     <div class="row sb">
                       <div class="file-field  col s12">
                           <p>Upload copies of the letter of the university recognizing faculty as 
                            research guides</p>
                         <div class="btn">
                           <span> Browse</span>
                           <input type="file" data-error="#e9" required>
                         </div>
                         
                       </div>
                     </div>

                     <div class="row sb">
                      <div class=" col s12">
                        <label for="bio">Any additional info </label>
                        <p>Institutional data in prescribed format
                        </p>
                        <textarea id="bio" name="bio" class="materialize-textarea" data-error="#e6" required></textarea>
                        <div id="e6"></div>
                      </div>
                    </div>
                     
                     <div class="row sb">
     
 
                     </div>
       
                     
                     <div class="row sb">
                       <div class="col m6 s12">
                         <button type="submit" class="btn btn-success">Submit</button>
                       </div>
                     </div>
       
                   </form>
       
                 </div>
               </div>
             </div>
           </div>
       
       
           <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.min.js"></script>
     
     
            </div>

</div>
</div>


    
<hr class="white-hr">


<%- include("footer"); -%>